<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>Spotify Most Played</title>
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Vue.js -->
    <script src="js/vue.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- My stuff -->
    <link rel="stylesheet" href="styles.css">
    <script defer src="js/index.js"></script>
</head>
<body>
    <div id="app">

        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="">Spotify Most Played</a>
        </nav>

        <div class="container mb-5" v-cloak :class="{ 'd-none': !loaded }">

            <!-- User info box -->
            <div v-show="userinfo" class="card card-body bg-light my-3" v-cloak>
                <div class="media">
                    <img class="img-fluid rounded align-center-self mr-3" v-if="user_image" style="max-width: 5rem;" :src="user_image">
                    <div class="media-body my-auto">
                        <h4>{{ userinfo.display_name }} {{ country_flag }}</h4>
                        <span v-if="userinfo.followers">Followers: {{ userinfo.followers.total }}<br></span>
                    </div>
                </div>
            </div>

            <!-- Term selector -->
            <div class="dropdown mb-sm-n4">
                <button class="btn btn-secondary dropdown-toggle term-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ terms[state.term] }}
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a v-for="(val, key) in terms" class="dropdown-item" v-bind:class="{ active: state.term == key }" v-on:click="state.term = key" href="#">
                        {{ val }}
                    </a>
                </div>
            </div>

            <!-- Navigation -->
            <ul class="nav nav-tabs mt-sm-n5" style="margin-top: 2.5rem!important;">

                <li v-for="(val, key) in types" class="nav-item d-block">
                    <br>
                    <button class="nav-link" v-bind:class="{ active: state.type == key }" v-on:click="state.type = key" href="#">
                        {{ val }}
                    </button>
                </li>

            </ul>

            <table class="table table-sm" v-show="state.type == 'tracks'">
                <thead>
                    <tr>
                        <th scope="col" class="number-col">#</th>
                        <th scope="col">Track</th>
                        <th scope="col" class="d-none d-md-table-cell">&#x1F550;</th>
                    </tr>
                </thead>
                <tbody v-for="(val, key) in terms">
                    <tr v-for="(track, index) in top.tracks[key].items" v-show="state.term === key">
                        <th scope="row" class="text-center">{{ index + 1 }}</th>
                        <td>
                            <div class="media">
                                <a v-if="second_last_image(track.album.images)" :href="spotify_url(track)">
                                    <img class="track-image align-center-self" :src="second_last_image(track.album.images)" :alt="track.album.name">
                                </a>
                                <div class="media-body my-auto w-100">
                                    {{ track.name }}
                                    <div class="text-muted small">
                                        <span v-if="track.explicit" class="explicit">&#x1F174;</span>
                                        <span v-for="(artist, key) in track.artists">
                                            <a class="link-unstyled" :href="spotify_url(artist)">
                                                {{ artist.name }}</a><span v-if="key !== track.artists.length-1">, </span>

                                        </span>
                                        <span class="d-none d-md-inline">
                                            &bullet;
                                            <a class="link-unstyled" :href="spotify_url(track.album)">
                                                {{ track.album.name }}
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="d-none d-md-table-cell text-muted">
                            {{ Math.floor(track.duration_ms / 60000) }}:{{ String(Math.floor((track.duration_ms / 1000) % 60)).padStart(2, '0') }}
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-sm" v-show="state.type == 'artists'">
                <thead>
                    <tr>
                        <th scope="col" class="number-col">#</th>
                        <th scope="col">Artist</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(artist, index) in top.artists[state.term].items">
                        <th scope="row" class="text-center">{{ index + 1 }}</th>
                        <td>
                            <div class="media">
                                <a v-if="second_last_image(artist.images)" :href="spotify_url(artist)">
                                    <img class="img-fluid rounded track-image align-center-self" :src="second_last_image(artist.images)" :alt="artist.name">
                                </a>
                                <div class="media-body my-auto">
                                    {{ artist.name }}
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="container" v-if="!loaded">
            <!-- Not loaded -->
            <span class="text-center loading-text">
                Loading...
            </span>
        </div>

        <!-- <a href="#" v-on:click="authorise">Relogin</a> -->

    </span>

    <div class="footer py-2 container-fluid bg-dark text-light" style="font-size: 0.8rem">
        <div class="container">
            By <a class="link-unstyled" href="https://kushagr.net/">Kush Mittal</a>.
            Open source on <a class="link-unstyled" href="https://github.com/theKKCD/spotify-most-played/">GitHub</a>.
        </div>
    </div>
</body>
</html>