[v-cloak] {
    display: none!important;
    visibility: hidden!important;
}

html {
    position: relative;
    min-height: 100%;
}

.loading-text {
    position: absolute;
    font-weight: light;
    font-size: 2.5rem;
    top: calc(50% - 2.5rem);
    left: 50%;
    transform: translateX(-50%);
}

.nav-tabs-right-buttons {
    position: absolute;
    right: 1rem;
}

.playlist-preview-images {
    display: grid;
    max-width: 45vw;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.playlist-preview-images > img {
    width: 100%;
}

@media (min-width: 768px) {
    .type-nav {
        margin-top: -1.25rem!important;
    }
}

.track-image {
    object-fit: cover;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;

    height: 3rem;
    width: 3rem;
    margin-right: 0.75rem;
}

.w-40 {
    width: 40%;
}

.number-col {
    width: 2rem;
    text-align: center;
}

.runtime-col {
    width: 4rem;
    text-align: left;
}

@media (min-width: 768px) {
    .track-image {
        height: 3.5rem;
        width: 3.5rem;
        margin-right: 1rem;
    }
}


.explicit {
    vertical-align: 0px;
}

.table td, .table th {
    vertical-align: middle;
}

.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
}
.link-unstyled:hover {
    text-decoration: underline;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
